.app {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.app-main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}
